@import "normalize.styl"
@import "fonts.styl"
@import "nib/vendor"

blueTw = #04ACEB
blueFB = #3C5A98
blueGit = #4183c4
blackGit = #333

vendor-prefixes = webkit o ms moz official

miDisplay(valor1, valor2, valor3)
	-webkit-display valor1
	-webkit-flex-wrap valor2
	-webkit-justify-content valor3

	-o-display valor1
	-o-flex-wrap valor2
	-o-justify-content valor3

	-moz-display valor1
	-moz-flex-wrap valor2
	-moz-justify-content valor3

	-ms-display valor1
	-ms-flex-wrap valor2
	-ms-justify-content valor3

	display valor1
	flex-wrap valor2
	justify-content valor3

a
	text-decoration none
	color white

#particles-js
	width 100%
	min-height 100vh
	background-color black
	background-image url('')
	background-size cover
	background-position 50% 50%
	background-repeat no-repeat

.particles-js-canvas-el
	position absolute
	top 0
	right 0
	left 0
	bottom 0
	z-index 1
// Son los mismos estilos del #particles-js
.Header
	background-attachment transparent
	position relative
	&-content
		color white
		max-width 768px
		margin 0 auto
		text-align center
		padding 50px 0
	&-name
		margin 0
		margin-bottom 0.5em
		font-weight normal
	&-image
		position relative
		border-radius 50%
		border 3px solid white
		width 200px
		height 200px
		margin 0 auto
		z-index 50
		background-image url('./img/fotini.jpg')
		background-size cover
		background-position center
.Nav--activate
	color black
	background white
	.Nav-title
		color black
	.Nav-link
		color black
		&:hover
			border 1px solid black
.Nav
	padding 0.5em
	text-align initial
	color white
	position fixed
	top 0
	right 0
	left 0
	z-index 100
	&-title
		margin 0
		display inline-block
		font-weight normal
		font-size 1.6em
	&-list
		list-style none
		float right
		margin 0
		padding 0
		display inline-block
		line-height 30px
	&-item
		display inline-block
	&-link
		padding 0.5em 0.7em
		color white
		border 1px solid transparent
		&:hover
			box-sizing border-box
			border 1px solid #F2F2F2
.Redes
	position relative
	z-index 10
	&-saludo
		font-size 1.5em
	.link
		padding 0.5em 1em
		color white
		border-radius 4px
		border-radius 1em
		margin 0 auto
		margin-bottom 0.5em
		display block
		width 70%
	.facebook
		background blueFB
	.twitter
		background blueTw
	.git
		background blackGit

//@media screen and (min-width: 767px)

@media screen and (min-width: 480px)
	.Redes
		&-wrapper
			miDisplay(flex, wrap, space-around)
	.Redes
		.link
			width auto
